* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  :root {
    --background: #f7e9ff;
    --form-background: rgb(253, 237, 237);
    --border-color: #f5e7f8;
    --font-color: rgb(0, 0, 0);
    --font-color-light: white;
    --primary: #b110da;
    --secondary: #0063dd;
  }
  
  .container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: var(--background);
  }
  
  .shadow {
    position: absolute;
    background: linear-gradient(220deg, var(--primary), var(--secondary));
    border-radius: 5px;
    width: 300px;
    height: 490px;
    filter: blur(12px);
  }
  
  form {
    display: grid;
    gap: 0.7rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: var(--form-background);
    color: var(--font-color);
    width: 300px;
    position: relative;
  }
  
  form h1 {
    text-align: center;
    background: linear-gradient(-90deg, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    color: transparent;
  }
  
  label {
    display: grid;
    gap: 0.5rem;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
  }
  
  input,
  select,
  textarea {
    border: none;
    padding: 0.2rem;
    border-radius: 3px;
    background: none;
    color: var(--font-color);
  }
  
  textarea {
    resize: none;
  }
  
  *:focus {
    outline: 2px solid var(--border-color);
  }
  
  .terms-label {
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    border-bottom: none;
  }
  
  .submit-button {
    border: none;
    padding: 0.4rem;
    border-radius: 40px;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    color: var(--font-color-light);
  }
  